.elenco-ricette {
  display: flex;
  flex-wrap: wrap;
  /* Permette di andare su più righe */
  gap: 20px;
  /* Distanza tra le ricette */
  padding: 20px;
  margin-top: 0px;
  justify-content: flex-start;
  /* Distribuisce gli elementi senza centrarli */
  align-items: flex-start;
  /* Allinea gli elementi in cima alle righe */
  max-width: 90%;
  /* Impostazione di una larghezza massima */
  margin-left: auto;
  margin-right: auto;
  /* Centra il contenitore */
  align-items: center;
  justify-content: center;
}